In [2]:
import pandas as pd
import numpy as np

In [3]:
# creating an array
exampleArray = np.array([[3,5],[7,4],[10,31]])

In [4]:
# creating a dataframe
df = pd.DataFrame(exampleArray,index=['row1','row2','row3'], columns=['col1','col2'])

In [5]:
print(df)

      col1  col2
row1     3     5
row2     7     4
row3    10    31

In [6]:
df

      col1  col2
row1     3     5
row2     7     4
row3    10    31

## Creating a DataFrame from a Dictionary

In [7]:
# Lists used for this example

numberOfStates = ['California', 'Michigan', 'New York', 'Oregon']
populationOfStates = [55000000, 16000000, 25000000, 10000000]

In [8]:
# Storing lists within a dictionary
dictStates = {'States':numberOfStates, 'Population Per State':populationOfStates}

In [9]:
# Creating a data frame
tempDf = pd.DataFrame(dictStates)

In [10]:
# Showing the data frame
tempDf

       States  Population Per State
0  California              55000000
1    Michigan              16000000
2    New York              25000000
3      Oregon              10000000

In [11]:
# obtaining the highest index of the data frame
max(tempDf.index)

3

In [12]:
# obtaining the lowest index of the data frame
min(tempDf.index)

0

In [13]:
type(tempDf)

pandas.core.frame.DataFrame

In [15]:
# rouding the values of the dataset
# Currently doesn't do anything, but if the values were floats
# then they would be rounded to the nearest 2 decimal points
# in the example below
round(tempDf, 2)

       States  Population Per State
0  California              55000000
1    Michigan              16000000
2    New York              25000000
3      Oregon              10000000